<% @card_title = "Registro de " + @citizen.model_name.human(count: 1) %>
  <p>
    <strong><%= translate 'activerecord.attributes.citizen.name' %>:</strong>
    <%= @citizen.name %>
  </p>
  <p>
    <strong><%= translate 'activerecord.attributes.citizen.cpf' %>:</strong>
    <%= @citizen.cpf %>
  </p>
  <p>
    <strong><%= translate 'activerecord.attributes.citizen.cns' %>:</strong>
    <%= @citizen.cns %>
  </p>
  <p>
    <strong><%= translate 'activerecord.attributes.citizen.email' %>:</strong>
    <%= @citizen.email %>
  </p>
  <p>
    <strong><%= translate 'activerecord.attributes.citizen.birth_date' %>:</strong>
    <%= data_format(@citizen.birth_date) %>
  </p>
  <p>
    <strong><%= translate 'activerecord.attributes.citizen.phone' %>:</strong>
    <%= @citizen.phone %>
  </p>
  <p>
    <strong><%= translate 'activerecord.attributes.citizen.status' %>:</strong>
    <%= I18n.t("activerecord.attributes.citizen.statuses.#{@citizen.status.to_s}") %>
    
  </p>
<%= btn_edit(edit_citizen_path(@citizen)) %> | 
<%= btn_back(citizens_path) %>
