<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de Municipio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body data-controller="timeup">
    <main>
      <%= render partial: "layouts/shared/message" %>
      <%= render partial: 'layouts/shared/navbar' %>
      <div class="container mt-5">
        <div class="d-flex justify-content-end ">
          <div class="p-2 bd-highlight">
            <%= @btn_new %>  <%= @btn_report %>
          </div>
        </div>
        <div class="card">
          <div class="card-header bg-success text-white">
            <div class="row">
              <%= @card_title %>
              <div class="col d-print-none text-end">
                Expira em: <span data-timeup-target="hora">30:00</span>
              </div>
            </div>
          </div>
          <div class="card-body">
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
